{% extends 'base.html.twig' %}

{% block title %}Periodicity: Element{% endblock %}

{% block body %}

{% set elementBlank = '/element/themes/theme_element_blank.html.twig' %}
{% set element = '/element/themes/theme_element.html.twig' %}

{% set offset = 0 %}
{% set square = 100 %}
{% set squareSize = [square,"px"]|join %}
{% set tableWidth = [(square * 18) + 38,"px"]|join %}
{% set tableHeight = [(square * 7) + 13,"px"]|join %}

<div class="periodic" style="--tableWidth:{{tableWidth}}; --tableHeight:{{tableHeight}};">
    <div class="heading">
        <h1>Periodic Table of Elements</h1>
    </div>
    
    <div class="table" style="--tableWidth:{{tableWidth}}; --tableHeight:{{tableHeight}};">
    {% for node in allNodes if node.containsKey('Group') %}

        {% set nodeGroup = node.get('Group') %}
        {% set offset = offset + 1 %}

        {% if offset != nodeGroup %}
            {% set limit = nodeGroup - 1 %}
            {% for i in offset..limit %}
                {% include elementBlank with {"squareSize": squareSize} %}
            {% endfor %}
        {% endif %}

        {% set offset = nodeGroup %}
        {% include element with {"node": node, "squareSize": squareSize} %}

        {% if 18 == offset %}
            {% set offset = 0 %}
            <div class="clear"></div>
        {% endif %}

    {% endfor %}
    </div>
    <br><br>
    {% set tableHeight = [(square * 2) + 3,"px"]|join %}
    <div class="synthetic" style="--tableWidth:{{tableWidth}}; --tableHeight:{{tableHeight}};">
    {% for i in 1..3 %}
        {% include elementBlank with {"squareSize": squareSize} %}
    {% endfor %}
    {% for node in allNodes if not node.containsKey('Group') %}
        {% include element with {"node": node, "squareSize": squareSize} %}
        {% set name = node.get('Element') %}
        {# Lutetium is the last Lanthanide in Period 6 #}
        {% if name == 'Lutetium' %}
            {% include elementBlank with {"squareSize": squareSize} %}
            <div class="clear"></div>
            {% for i in 1..3 %}
                {% include elementBlank with {"squareSize": squareSize} %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/element.css') }}">
{% endblock %}