{% set elementModal = '/element/themes/theme_element_modal.html.twig' %}
{% set natoccur = node.get('NaturalOccurence')|lower|replace({' ': '-'}) %}
{% set category = node.get('ElementCategory')|lower|replace({' ': '-'}) %}

<div
  class="element {{ node.get('Block') }}-block {{ natoccur }}"
  style="--squareSize:{{ squareSize }};"
>
  {% include elementModal with {"node": node} %}
  <div class="name">{{ node.get("Element") }}</div>
  <div class="atomicNumber">{{ node.get("AtomicNumber") }}</div>

  <div class="symbol">
    {{ node.get("Symbol") }}
  </div>
  <br />

  <div class="atomicMass">{{ node.get("AtomicMass") }}</div>
  <div class="element-overlay {{ category }}"></div>
</div>
