
<div class="element" style="--squareSize:{{squareSize}};">
    <div class="name">{{ node.get('Element') }}</div>
    <div class="atomicNumber">{{ node.get('AtomicNumber') }}</div> {# link to detail page #}
    <div class="symbol">
        {{ node.get('Symbol') }}
    </div><br>
    <div class="atomicMass">{{ node.get('AtomicMass') }}</div>
</div>