{% set natoccur = node.get('NaturalOccurence')|lower|replace({' ': '-'}) %} {%
set category = node.get('ElementCategory')|lower|replace({' ': '-'}) %}
<div
  class="element {{ node.get('Block') }}-block {{ natoccur }}"
  style="--squareSize:{{ squareSize }};"
>
  <div class="name">{{ node.get("Element") }}</div>
  <div class="atomicNumber">{{ node.get("AtomicNumber") }}</div>
  {# link to detail page or pop modal #}
  <div class="symbol">
    {{ node.get("Symbol") }}
  </div>
  <br />

  <div class="atomicMass">{{ node.get("AtomicMass") }}</div>
  <div class="element-overlay {{ category }}"></div>
</div>
